node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.tmp
*.swp
.DS_Store
.tern-project
.tern-port
.vscode-test
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
